{{#each directions as |dir|}}
  <div
    class={{concat "resizer " dir}}
    {{on "mousedown" this._onResizeStart dir}}
    {{on "touchstart" this._onResizeStart dir}}
  >
  </div>
{{/each}}

{{yield}}
