{{#each this.directions as |dir|}}
  {{! template-lint-disable no-down-event-binding }}
  <div
    class={{concat "resizer " dir}}
    {{on "mousedown" (fn this._onResizeStart dir) passive=true}}
    {{on "touchstart" (fn this._onResizeStart dir) passive=true}}
    role="button"
  >
  </div>
  {{! template-lint-enable no-down-event-binding }}
{{/each}}

{{yield}}
