@import 'ember-resizable';
@import "ember-power-select";
@import "ember-bootstrap/bootstrap";


.center-box {
  max-width: 1200px;
  margin: auto;
  padding: 8px;
  padding-top: 0;

  h2 {
    text-align: center;
  }

  .tab-content {
    padding: 16px 8px;
  }
}
